
@import url(https://db.onlinewebfonts.com/c/0923ee644c97a87d70269aa80a6f1e79?family=The+Historia+Demo);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/*Start global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color : #eee;
}

body{
    width : 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed; 
    background-size : cover;
}


section{
    padding:6rem 0;
}


a{
    text-decoration: none;
    color : #eee;
    font-size : 3.5rem;
    font-weight: 300;
    color: #3883ff;
    transition: color 650ms;

}

p{
    font-size: 2.2rem;
    font-weight: 90;
}

img{
    width : 100%;
}
/*End global*/



/*Start reusable*/
.container{
    width : 90%;
    max-width : 120rem;
    height : 100%;
    margin: 0 auto;
    position : relative;
}


.section-heading{
    text-align : center;
    margin-bottom: 10rem;

}

.section-heading h1{
    font-size : 4rem;
    color: rgba(255,255,255, .3);
    text-transform : uppercase;
    letter-spacing : 2px;
    font-weight: 300;
    position : relative;
    margin-bottom: 1rem;
}

/* Changes made to heading h1 - skills - like underlining etc */
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position : absolute;
    bottom : -.5rem;
    left :50%;
    transform : translateX(-50%);
    background-color : rgba(255, 255, 255, 0.75); 
}

/* Targeting them individually */
.section-heading h1::before{
    width : 10rem;
    height : 3px;
    border-radius : .8rem
}

/* Adding the tiny circle */
.section-heading h1::after{
    width : 1.5rem;
    height : 1.5rem;;
    border-radius : 100%; 
    bottom : -1rem; 
     /*Putting it even lower to match with line  */
}


.section-heading h6{
    font-size : 1.8rem;
    font-weight: 300;
}

/* For imaages in the portfolio */
.has-margin-right {
    margin-right : 5rem;

}

/*End reusable*/


/*Start header*/
header{
 width :100%;
 height : 100vh;   
}

.top-nav{
    width:100%;
    height:100vh;
    top: -100vh;
    position : fixed;
    background-color: #000000 ;
    border-bottom-right-radius : 100%;
    border-bottom-left-radius : 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    z-index:100;
}

.nav-list{
    list-style : none;
    width :100%;
    height : 100%;
    display : flex;
    justify-content : center;
    align-items : center;
}


li{
    margin : 0 2rem;
}

.nav-link{
    font-family: 'Megrim', cursive;
    font-size : 3.5rem;
    padding : 1rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative
}

.nav-link:after{
    background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 2px;
              left: 50%;
              position: absolute;
              background: red;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
}

.nav-link:hover:after{
    width: 100%; 
    left: 0; 
}
.nav-link:hover,
    .nav-link:focus{
        background : linear-gradient(to top,red ,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


.top-nav.open{
    top: 0;
    border-radius : initial;
}

.menu-toggler{
    position : absolute;
    top : 5rem;
    right : 5rem;
    width : 5rem;
    height : 4rem;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    cursor : pointer;
    z-index : 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background : linear-gradient(to top,#ddd6f3 , #faaca8);
    width : 100%;
    height : 4px;
    border-radius : .8rem;
}

.bar.half{
    width : 50%;
}

.bar.start{
    transform-origin : right;
    transition : transform 650 cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform : rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self : flex-end;
    transform-origin : left;
    transition : transform 650 cubic-bezier(0.54, -0.81, 0.57, 0.57);   
}

.open .bar.end{
    transform : rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top:50%;
    left:50%;
    transform : translate(-50%, -50%);           
    width : 100%;
    text-align: center;
    z-index: 1; 
}

/* Changing name text font */

.landing-text h1{
    font-size : 20rem;
    font-family: 'Megrim', cursive;
    /* Since we want same style */
    background : linear-gradient(to top,#ddd6f3 , #faaca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem; 
    /* Padding given to clean out text */
    user-select : none;

}


.landing-text h6{

    font-size: 2.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: 300;   
}

/* typewriter */
.txt-type>.txt {
    font-size: 3.5rem;
    font-family: 'Poiret One', cursive;
    color: rgb(156, 0, 0);
    border-right: 0.2rem solid #777;
  }


/*End header*/



/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content : center;
}



.about-heading{
    text-align : center;
    text-transform: upper-case;
    line-height : 0;
    margin-bottom : 6rem;
}

.about-heading h1{
    font-size : 10rem;
    opacity : .3;
}

.about-heading h6{
    font-family: 'Poiret One', cursive;
    font-size:2rem;
    font-weight: 300;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex:1;
}

.social-media{
    margin-top: 5rem;
}

/* Changing the social media icons */
.social-media i {
    padding: 1rem;
    font-size: 4rem;
    transition: all 250ms;
  }
  
  .social-media i:hover {
    transform: scale(1.1);
  }
  
  .fa-facebook-square:hover {
    color: #3B5998
  }
  
  .fa-linkedin:hover{
    color: #4267b2;
  }
  
  .fa-github:hover {
    color: rgb(248, 248, 248);
  }
  .fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: normal;
  }

/*End about*/



/*Start services*/

.my-skills{
    margin-top: 10rem; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
    grid-gap: 2.5rem; /* seperation between items and assigning space */
    text-align : center;
}


/* Now changing format of each skill */

/* Flex exapands items to fill the container - here we are filling the item completely column wise */
.skill{ 
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.skill h1{
    text-transform : uppercase;
    letter-spacing : 2px;
    margin : 2rem -2px 2rem 0;
    font-size : 175%;
}

/* Skills icons  */
.icon-container{
    width:10rem;
    height : 10rem;
    border: 1px solid #6c4a88;
    background-color: #a8a5a81a;
    margin-bottom : 2rem;
    display: flex;
    transform : rotate(45deg)
}

/* Icon Container Image */
.icon-container i{
    color : white;
    font-size: 5rem;
    margin : auto;
    transform: rotate(-45deg);
}

/*End services*/



/*Start portfolio*/

.portfolio-item{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 5rem ;
    font-family: 'Poiret One', cursive;
}

.porfolio .cv {
    font-family: 'Poiret One', cursive;
    font-size : 150%;
  }

.portfolio-item:last-child{
    margin-bottom: 0;
}

/* Fitting image within container */
.portfolio-img {
    width: 50rem;
    flex: 2;
}

.portfolio-description{
    flex: 2;
}

/* h6 is content */
.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity :0.3;
}

.portfolio-description h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

/* The View Details buttons */
.portfolio-description .cta{
    display: inline-block;
    margin-top : 2.5rem;
    font-size : 1.5rem;
    text-transform : uppercase;
    font-weight : 300;
    color: #3883ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover{
    color: #2f67cd;
}


/*End services*/



/*Start timeline*/

.timeline ul{

    border-left: 4px solid rgb(255, 17, 0);
    border-radius : .8rem;
    background-color : rgba(0,0,0,0.05);
    margin : 0 auto;

    position: relative;
    padding : 5rem;
    list-style: none;
    text-align : left;
    width :70%;
}

.timeline h1{
    font-size : 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom : 1rem;
    opacity : 0.2;
    /* margin-top: 1rem */
}

.timeline .date{
    border-bottom: 1px solid  rgba(255,255,255, 0.1);
    margin-bottom : 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom : 0;
    margin-bottom : 0;
    border : none;
}


.timeline .date::before, .timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%)
/* Targetting individually */
}

/* Before the border */

.timeline .date::before  {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;   
}

/* After the timeline border */
.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px darkred;
    border-radius : 100%;
    left : -8rem; /*Moving towards left in rem calc" */
    height : 1.5rem;
    width : 1.5rem;
    background-color: rgb(204, 19, 19);
}     
    

/*End timeline*/



/*Start contact*/
/* 
.contact {
    background-color : black;
}

.form{
    width : 70%;
    margin : 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width : 100%;
    padding: 1rem;
    margin-bottom : 5px;
    border :none;
    outline-color : #fd57bf;
}

input[type=submit] {
    width:initial;
    background-color :rgb(204, 19, 19);
    color:honeydew;
    padding: 1rem 2rem; top-bottom   left-right
    border-radius: .8rem;
    cursor: pointer;
    transition : background-color 650ms;
    
}

input[type= "submit"] ::hover{
    color: #221e3f;
    background-color: #ffe838;
    right:  5rem;
}

End contact */



/*Start footer*/
.copyright{
width : 100%;
text-align : center;
background-color : #070707;
padding : 2rem 0;
position : relative;    
}

 .up{
    position: absolute;
    width: 5rem;
    height : 5rem;
    background-color : #eee;
    top : -2.5rem;
    right : 5rem;
    border-radius: 100%;
    display: flex;
    /* Adding animation */
    animation :pulse 2s infinite;
    cursor:pointer;
} 

.up i{  /*Icon */
    color : #221e3f;
    font-size : 2rem;
    margin : auto;
}

.copyright p{
    font-size : 2.5rem;
}
/*End footer*/



/*Start animations -pulsing animation for the down arrow*/
@keyframes pulse{
    0%{
        box-shadow : 0 0 0 0 rgba(243, 0, 0, 0.99);
    }
    70%{
        box-shadow : 0 0 0 2rem rgba(243, 0, 0, 0);
    }
    100%{
        box-shadow : 0 0 0 0 rgba(243, 0, 0, 0);
    }
}
/*End animations*/




/* Cleaner Contact Form */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* {
  box-sizing: border-box;
}

/* .body {
  min-height: 100vh;
  display: flex;
  background-color: #eaeaea;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.8;
  background-image: url(https://dl.dropboxusercontent.com/u/26808427/cdn/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */

.contact {
  position: relative;
  top: -30px;
  left: -30px;
  z-index: 6;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}

.contact-form.active {
  transform: translate3d(0, 0, 0);
}
.contact-form .close {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 30px;
  top: 30px;
}

.cards {
  margin: auto;
  background: #fefefe;
  border: 4px solid rgb(233, 17, 17);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
  width: 768px;
  height: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
/* .cards .card {
  display: inline-block;
  margin-right: 20px;
}

 /* */
.cards .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: -webkit-clip-path 1s ease;
  padding: 100px 0 0;
  overflow: hidden;
  border-radius: 5px;
}
.cards .card-content .row {
  display: table;
  width: 100%;
  height: 100%;
}
.cards .card-content .col {
  width: 50%;
  height: 100%;
  display: table-cell;
  transition: 0.3s ease 0.3s;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
}
.cards .card-content .col h2 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1;
  margin: 0 0 30px;
}
.cards .card-content .col h2 strong {
  font-weight: 700;
  display: block;
}

.cards .card-content .col.left {
  transform: translate3d(0, 0, 0);
  opacity: 0;
  padding-left: 50px;
}
.cards .card-content .col.right {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  padding-left: 50px;
} 
.cards .card.active .col {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}




/*Start media queries*/

@media screen and  (max-width:1322px) {

    body{
        width : 100%;
        height: 100%;
        background: url("images/sitebg.jpg") no-repeat center fixed;
        background-size : cover;  
    }

    .landing-text h1{
        font-size : 15rem;
    }

    .landing-text h6{
        font-size : 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }

    li{
        margin : 1rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size : 8rem;
    }

    .section-heading{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction : initial;
    }

    .about-details li{
        margin : 0 2 rem;
    }

    .icon-container{
        width :7rem;
        height : 7rem;
    }

    .icon-container i{
        font-size : 4rem;
    }

    .timeline ul{
        margin : 0 0 0 auto;
    }

    .timeline .date::before{
        left : -20rem;
    }

    .timeline .date::after {
        left : -5.9rem;
    }

    .contact{
        margin : 0 0 0 auto;
    }

    
}


@media screen and (max-width : 600px)
{
   
    .cards{
        margin : center;
        width: 310px;
        height: 400px;
    }

    .menu-toggler{
        top : 2rem;
        right : 2rem;
    }

    .landing-text h1{
        font-size : 8rem;
    }

    .landing-text h6{
        font-size : 1.4rem;
    }

    .nav-link{
        font-size : 3.5rem;
    }

    .about .container{
        flex-direction : column;
    }

    .profile-img{
        margin : 0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    /* Order makes sure image comes 1st then description */
    .portfolio-img{
        margin : 0 0 2rem 0;
        order : 1;
    }

    .portfolio-description{
        margin : 0;
        order : 2;
    }

    /* .timeline p{
        font-size: 1.6rem;
    } */

    /* timeline.date ::before{
        font-size: 1.4rem;
    } */

    .contact{
        margin : 0 0 0 auto;
    }

    .form{
        width : 100%;
    }

    .up{
        right : 2rem;
    }

   
}


@media screen and (max-width : 450px)
{   
    /* body.palette-primary.custom-background {
        background-size: auto 100%;
    } */
    
    .menu-toggler.open{
        top : 3rem;
        right : -7.5rem;
    }

    .landing-text h1{
        font-size : 8rem;
    }

    .landing-text h6{
        font-size : 2rem;
    }

    .nav-link{
        font-size : 3.5rem;
    }

    .about .container{
        flex-direction : column;
    }

    .contact{
        margin : 0 0 0 auto;
    }

    .profile-img{
        margin : 0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    /* Order makes sure image comes 1st then description */
    .portfolio-img{
        margin : 0 0 2rem 0;
        order : 1;
    }

    .portfolio-description{
        margin : 0;
        order : 2;
    }

    /* .timeline p{
        font-size: 1.6rem;
    } */

    /* timeline.date ::before{
        font-size: 1.4rem;
    } */

    .form{
        width : 100%;
    }

    .up{
        right : 2rem;
    }

   
}

/*End media queries*/