.fa-facebook-square:after {
    color: #4267b2;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .fa-facebook-square:hover:after{
    width: 100%; 
    left: 0; 
    
  }

  
  .fa-linkedin:after{
    color: #4267b2;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .fa-linkedin:hover:after{
    width: 100%; 
    left: 0;   
  }
  
  .fa-github:after {
    color: rgb(51, 51, 51);
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .fa-github:hover:after{
    width: 100%; 
    left: 0;   
  }
